* {
	box-sizing: border-box;
}


body {
	background-image: url(../images/vintage-concrete.png);
	width: 960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-left: 200px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
  width:100%;
  height:75px;
  position:fixed;
  top:0;
  left:0;
  background-color:white;
}

.menu-container {
	display: flex;
	width: 960px;
	height: 75px;
	color: #fff;
	margin-left: 200px;
}

.menu {
	display: flex;
	width: 960px;
	justify-content: space-between;
}

.name {
	display: flex;
	justify-content: flex-start;
	background-color: #4aaaa5;
	border: 1px solid #cccccc;
	align-items: center;
	padding: 20px;
}

.links, a {
	display: flex;
	justify-content: flex-end;
	background-color: white;
	align-items: center;
	font-size: 16px;
	color: #777777;
}

a {
	text-decoration: none;
}

.contact {
	display: flex;
	margin-left: 15px;
	margin-right: 30px;
	padding-left: 15px;
	border-left: 2px solid #dddddd ;
}

.portfolio {
	display: flex;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 2px solid #dddddd ;
}

.about {
	margin-left: 20px;
}

.main-container {
	float: left;
	width:650px;
	padding: 30px;
	padding-top: 0px;
	background-color: white;
	border: 1px solid #cccccc;
	margin-top: 110px;
	
}

.pic {
	float: left;
	width: 200px;
	margin-right: 20px;
}

p {
	line-height: 1.5;
}

.title {
	color: #4aaaa5;
	font-size: 28px;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 20px;

}

.sidebar {
	float: right;
	display: flex;
	width: 270px;
	background-color: white;
	border: 1px solid #cccccc;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 110px;
	padding-bottom:10px;
	padding-right: 10px;
	line-height: 40px;

}

.social {
	width: 64px;
	height: 64px;
	margin-left: 10px;
}

h3 {
	color: #4aaaa5;
	font-size: 24px;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 10px;

}



footer {
  display: flex;
  width:100%;
  height:75px;
  position:fixed;
  bottom:0;
  left:0;
  color: #777777;
  background-color:#666666;
  justify-content: center;
  align-items: center;
  border-top: 10px solid #4aaaa5;
}

.projects {
	float: left;
	margin: 20px 0 25px;
}

.projects:nth-child(even) {
	margin-right: 35px;
}

.proj-pic {
	width: 275px;
	height: auto;
	opacity: .8;
}


.projects h3 {
	background-color: #4aaaa5;
	color: white;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 275px;
	font-size: 18px;
	margin-top: -75px;
	position: absolute;
	border:none;
}

.contact-box ul {
	margin-bottom: 20px;
	list-style-type: none;
	margin-left: 0;
}

.contact-box li {
	margin-bottom: 20px;
	margin-left: -40px;
}

label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
	font-size: 24px;
	color:#777777;
}

input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #cccccc;
	padding: 0 10px;
	font-size:14px;
}

textarea {
	height: 200px;
}

input[type=submit] {
	background: #4aaaa5;
	border: 0 none;
	color:white;
	padding: 10px 30px;
	font-size: 18px;


}